* {
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

header {
color: lightgray;
text-shadow: 2px 1px lightpink;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  list-style-type: none;
  align-items: center;
  padding: 2px;
  background-color: black;
  color: lightpink;
  border-right: lightpink;
}

nav a {
  color: lightgrey;
  text-decoration: none;
}
nav a:hover {
  color: lightpink;
}

main {
  width: 96%;
  margin: 32px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -24px;
  margin-right: -24px;
}

.row:hover {
  color: lightpink;
}

.justify-center {
  justify-content: center;
}

.card-column {
  flex: 1 0 100%;
  transition: flex-basis 500ms linear;
  width: 250px;
  padding: 25px;
  border: 25px lightpink;
  margin: 0;
}

.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  
  .card-column:last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  list-style-type: none;
  align-items: left;
  padding: 2px;
  background-color: lightpink;
  color: lightgrey;
  border: 5px black;
}

img {
  width: 325px;
  border-radius: 5px;
}